.buscar {
    width: 60%;
}

.nav1 {
    display: flex;   
}

.texto1 {
    font-weight: 800;
}

.textoExtrabold {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
  }

span {
    color: #050C26;
}


.header {
    color: white;
    background-color: #005988;
    text-decoration: none;
    padding-right: 1.5rem;
    font-size: 1.125rem;
    border-radius: 10px;
}

strong {
    color: #005988;
}

p {
    color: #8A8A8A;
    font-size: 20px;
}
