/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Garante que 100vh funcione corretamente */
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%; /* Para React garantir que tudo ocupe 100% */
}

